<ion-header class="ion-no-border">

    <ion-item lines="none">
        <ion-icon color="primary" name="arrow-back-outline" (click)="dismiss()"></ion-icon>
        <ion-searchbar showCancelButton="never" mode="ios"></ion-searchbar>
    </ion-item>

</ion-header>

<ion-content>
    <ion-list-header color="light">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    Departamentos
                </ion-col>
                <ion-col size="6" class="ion-text-end">
                    Casos
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list-header>

    <ion-item *ngFor="let departamento of departamentos" detail>


        <ion-label>
            <h4>{{departamento.name}}</h4>
            <p>Hoy {{departamento.today_new_confirmed}} casos nuevos</p>
        </ion-label>

        <ion-text slot="end">
            {{departamento.today_confirmed}}
        </ion-text>


    </ion-item>


</ion-content>