.inline {
    display: inline-block;
}

.margin {
    margin: 3px;
    font-weight: bold;
}

.flotante {
    float: right;
}

.animate__animated.animate__backInRight {
    --animate-duration: 2s;
}

.clase {
    width: 25%;
}

.carga {
    height: 200px;
}

ion-card-title {
    color: white;
    text-align: center;
}

ion-card-header {
    margin: 0px;
}


/*
ion-slide {
    display: inline-block;
}
*/

ion-slide {
    ion-card-title {
        margin: 0;
        font-size: 20px;
    }
    img {
        height: 200px;
    }
}

.principal {
    margin: 0;
    //padding: 20px;
    font-family: monospace;
    color: red;
}

.contenedor {
    position: relative;
    height: 320px;
    width: 100%;
    overflow: hidden;
    //margin: 20px 0;
    //z-index: -2;
    background-color: red($color: #000000);
    img {
        width: 100%;
        height: 300px;
    }
}

.parallax {
    position: absolute;
    width: 100%;
    background-size: cover;
    height: 100vh;
    z-index: 0;
}

.titulo {
    color: white;
    font-size: 3em;
    margin: auto 0;
    text-align: center;
    //margin-top: 100px;
    z-index: 2;
}

ion-content {
    z-index: -2;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    position: absolute;
}