.inline {
    display: inline-block;
}

.margin {
    margin: 3px;
    font-weight: bold;
}

.flotante {
    float: right;
}

.clase {
    width: 25%;
}

ion-card-title {
    color: white;
    text-align: center;
}

ion-card-header {
    margin: 0px;
}


/*
ion-slide {
    display: inline-block;
}
*/

.principal {
    margin: 0;
    //padding: 20px;
    font-family: monospace;
    color: red;
}

.image {
    width: 100%;
    img {
        width: 100%;
    }
}