<ion-header class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="dismiss()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-searchbar color="oscuro" showCancelButton="never" clear-icon></ion-searchbar>


    </ion-toolbar>



</ion-header>


<ion-content>

    <ion-item *ngFor="let item of parametro; index as i" detail color="oscuro" (click)="goToNotices(i,item.code)">

        <ion-avatar slot="start">
            <ion-img [src]="item.flag"></ion-img>
        </ion-avatar>
        <ion-label>
            <h4>{{item.nativeName}}</h4>
            <p>{{item.name}}</p>
        </ion-label>

        <ion-text slot="end">
            {{item.today_confirmed}}
        </ion-text>


    </ion-item>


</ion-content>