<ion-content color="oscuro">
    <ion-toolbar color="black">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="slidePrevius()">
                <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="primary" (click)="slideNext()">
                <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>

    <ion-slides pager="false" [options]="sliderConfig" (ionSlideDidChange)="slidesEvent($event)" #slides>


        <ion-slide>


            <div class="welcome-card">
                <canvas #muertesBar></canvas>
            </div>

        </ion-slide>
        <ion-slide>
            s
        </ion-slide>
    </ion-slides>

</ion-content>