.logo {
    height: 40px;
    width: 40px;
}

.inline {
    display: inline-block;
}

.margin {
    margin-top: 5px;
    font-weight: bold;
}

.flotante {
    float: right;
}

.clase {
    width: 25%;
}

.carga {
    height: 200px;
}

.iz {
    float: left;
}

.padding {
    padding: 5px;
}

.hr {
    border-bottom: 1px solid #ccc;
    margin: 1px 0;
    width: 100%;
}

.slide {
    height: 210px;
    img {
        height: 100%;
        width: 100%;
    }
}

#icono {
    position: relative;
    left: -23px;
}

.goLeft {
    position: absolute;
    top: 100px;
    z-index: 50;
}

.goRight {
    position: absolute;
    top: 100px;
    z-index: 50;
    right: 0;
}

h2 {
    color: white;
}

ion-slide {
    display: block;
}

h6 {
    font-size: 16px;
    position: absolute;
    color: #ffffff;
}

#content-card {
    height: 68px;
    box-shadow: none;
}

ion-card-title {
    font-size: 20px
}