<ion-header class="ion-no-border">
    <ion-toolbar color="oscuro">
        <ion-buttons slot="start">
            <ion-back-button color="primary" text=""></ion-back-button>
        </ion-buttons>
        <div class="ion-text-center">
            <img id="icono" src="../../../assets/icono.png" alt="" width="45" height="50" routerLink="/home">
        </div>
    </ion-toolbar>
</ion-header>

<ion-content color="oscuro">

    <ion-item color="oscuro" lines="none">
        <ion-icon color="primary" slot="start" name="caret-forward-outline"></ion-icon>
        <h2>Top</h2>
    </ion-item>

    <div *ngIf="data == null">

        <div class="ion-padding custom-skeleton">
            <ion-skeleton-text animated style="width: 100%; height: 170px" slot="start"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height:20px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%; height:20px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%; height:20px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 20%; height:20px"></ion-skeleton-text>
        </div>
    </div>

    <ion-slides #slide [options]="slideOpts">
        <div class="goLeft">
            <ion-buttons slot="start">
                <ion-button (click)="goToPrev()">
                    <ion-icon slot="icon-only" name="caret-back-outline" color="tertiary"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
        <ion-slide *ngFor="let item of data; trackBy : trackByFn; index as i">

            <ion-card type="button" class="slide" color="oscuro" mode="ios" (click)="presentModal(i)">
                <img [src]="item.urlToImage" />
            </ion-card>
            <ion-card id="content-card" color="oscuro">
                <h6>
                    {{item.title}}
                </h6>
            </ion-card>

        </ion-slide>
        <div class="goRight">
            <ion-buttons slot="end">
                <ion-button (click)="goToNext()">
                    <ion-icon slot="icon-only" name="caret-forward-outline" color="tertiary" class="icon"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>

    </ion-slides>

    <ion-item color="oscuro" lines="none">
        <ion-icon color="primary" slot="start" name="caret-forward-outline"></ion-icon>
        <h2>Nuevas</h2>
    </ion-item>

    <div id="main">
        <ion-card class="noticia" *ngFor="let item of data; trackBy : trackByFn; index as i" color="dark" mode="ios">
            <img [src]="item.urlToImage" />
            <ion-card-header>

                <ion-card-title>{{item.title}}</ion-card-title>
                <ion-card-subtitle>

                    <ion-label color="primary">
                        {{item.author}}
                    </ion-label>

                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <div class="hr"> </div>
                <ion-toolbar color="dark">
                    {{item.publishedAt | date:'medium'}}
                    <ion-buttons slot="end">
                        <ion-button color="primary" (click)="sharedNotice(item)">
                            <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
                        </ion-button>

                        <ion-button color="primary" (click)="presentModal(i)">
                            <ion-icon slot="icon-only" name="expand-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>

            </ion-card-content>
        </ion-card>
    </div>


    <div *ngIf="data == null">
        <div *ngFor="let a of [1,2,3,4,5,6,7,8,9]">
            <div class="ion-padding custom-skeleton">
                <ion-skeleton-text animated style="width: 100%; height: 170px" slot="start"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 40%; height:20px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%; height:20px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%; height:20px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20%; height:20px"></ion-skeleton-text>
            </div>
        </div>

    </div>

</ion-content>