<ion-toolbar color="dark">

    <ion-buttons slot="start">
        <ion-back-button color="primary" text="" defaultHref="/home"></ion-back-button>

        <ion-img class="logo" src="../../../assets/logoff.png"></ion-img>

        <ion-title size="small">Cov-Inf-19</ion-title>
    </ion-buttons>


</ion-toolbar>

<ion-content color="oscuro">
    <div id="main">
        <ion-card *ngFor="let item of data; trackBy : trackByFn; index as i" color="dark">
            <img [src]="item.urlToImage " />
            <ion-card-header>

                <ion-card-title>{{item.title}}</ion-card-title>
                <ion-card-subtitle>

                    <ion-label color="primary">
                        {{item.author}}
                    </ion-label>

                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <div class="hr"> </div>
                <ion-toolbar color="dark">
                    {{item.publishedAt | date:'medium'}}
                    <ion-buttons slot="secondary">
                        <ion-button color="primary" (click)="presentModal(i)">
                            <ion-icon slot="icon-only" name="expand-outline"></ion-icon>
                        </ion-button>


                    </ion-buttons>
                </ion-toolbar>

            </ion-card-content>


        </ion-card>
    </div>


    <div *ngIf="data == null">
        <div *ngFor="let a of [1,2,3,4,5,6,7,8,9]">
            <div class="ion-padding custom-skeleton">
                <ion-skeleton-text animated style="width: 100%; height: 170px" slot="start"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 40%; height:20px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%; height:20px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%; height:20px"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20%; height:20px"></ion-skeleton-text>
            </div>
        </div>

    </div>





</ion-content>