<ion-content color="oscuro">
    <div class="imagen">
        <ion-card-content>
            <ion-img src="../../assets/logo4.png"></ion-img>
        </ion-card-content>
    </div>


    <ion-item lines="none" button class="ion-margin" color="dark" routerLink="/ultimas-cifras">
        <ion-icon color="primary" slot="start" name="cellular-outline"></ion-icon>
        <ion-label>
            Ultimas cifras
        </ion-label>
    </ion-item>

    <ion-item lines="none" button class="ion-margin" color="dark" routerLink="/noticias">
        <ion-icon color="primary" slot="start" name="newspaper-outline"></ion-icon>
        <ion-label>
            Ultimas noticias
        </ion-label>
    </ion-item>

    <ion-item lines="none" button (click)="buttonClick()" class="ion-margin" color="dark">
        <ion-icon color="primary" slot="start" name="location-outline"></ion-icon>
        <ion-label>
            Atlantico
        </ion-label>
    </ion-item>





</ion-content>