ion-img {
    height: 200px;
    width: 200px;
    //margin-left: 4px;
    margin: 0px auto;
}

.badge-new-today {
    position: absolute;
    right: 18px;
    top: -1px;
    //border-radius: 50%;
    z-index: 2;
    box-shadow: 5px 10px 10px black;
}

.badge-new-today ::after {
    content: '+';
}

ion-item {
    border-radius: 10px;
    --detail-icon-color: #3171e0;
    --detail-icon-opacity: 1;
}

.imagen {
    width: 80%;
    height: 250px;
    margin: 0px auto;
}

div {
    height: 125px;
}

#cifras {
    --background: #fff url('../../assets/cifras.jpg') no-repeat center center / cover;
    height: 100%;
}

#noticias {
    --background: #fff url('../../assets/noticias.jpg') no-repeat center center / cover;
    height: 100%;
}

#geolocalizacion {
    --background: #fff url('../../assets/geolocalizacion.jpg') no-repeat center center / cover;
    height: 100%;
}

ion-item {
    margin: 5px 10px;
}

.nacional {
    //display: inline-block;
    //margin: 0 0.5rem;
    animation: slideInLeft;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.2s;
    /* don't forget to set a duration! */
}

.departamento {
    //display: inline-block;
    //margin: 0 0.5rem;
    animation: slideInLeft;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s;
    /* don't forget to set a duration! */
}