#logo {
    height: 40px;
    width: 40px;
    margin-left: 4px;
}

.badge-new-today {
    position: absolute;
    right: 18px;
    top: -1px;
    //border-radius: 50%;
    z-index: 2;
    box-shadow: 5px 10px 10px black;
}

.badge-new-today ::after {
    content: '+';
}

ion-item {
    border-radius: 10px;
    --detail-icon-color: #3171e0;
    --detail-icon-opacity: 1;
}

.imagen {
    width: 80%;
    height: 250px;
    margin: 0px auto;
}