<ion-header>
    <ion-toolbar color="dark">
        <ion-item color="dark">
            <ion-text slot="start">
                <img id="logo" src="../../assets/logos.png" alt="">
            </ion-text>
            <span>COV-INF-19</span>
            <ion-icon slot="end" name="information-circle"></ion-icon>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content color="oscuro">

    <div class="imagen animate__animated animate__backInDown">
        <img src="../../assets/logoz.png" alt="">
    </div>
    <div class="animate__animated animate__fadeInLeft">
        <ion-card-content class="ion-activatable ">
            <div>
                <ion-badge class="badge-new-today" color="primary"><span></span></ion-badge>
                <ion-item color="dark" detail routerLink="/noticias">
                    <ion-icon name="newspaper-outline" color="primary" slot="start"></ion-icon>
                    Noticias
                    <ion-text slot="end">

                    </ion-text>
                    <!--
                    <ion-icon *ngIf="!elementos[0]" slot="end" name="chevron-forward-outline"></ion-icon>
                    <ion-icon *ngIf="elementos[0]" slot="end" name="chevron-down-outline"></ion-icon>
                    -->

                </ion-item>
                <ion-ripple-effect></ion-ripple-effect>
            </div>


        </ion-card-content>
    </div>

    <div class="animate__animated animate__fadeInLeft">
        <ion-card-content class="ion-activatable ripple-parent ">
            <div>
                <ion-badge class="badge-new-today" color="primary"><span>{{global.today_new_confirmed}}</span></ion-badge>
                <ion-item color="dark" detail>
                    <ion-icon color="primary" slot="start" name="globe-outline"></ion-icon>
                    Global
                    <ion-text slot="end">
                        {{ global.today_confirmed }}
                        <ion-spinner *ngIf="global.today_confirmed == null" name="dots" color="light"></ion-spinner>
                    </ion-text>
                    <!--
                    <ion-icon *ngIf="!elementos[0]" slot="end" name="chevron-forward-outline"></ion-icon>
                    <ion-icon *ngIf="elementos[0]" slot="end" name="chevron-down-outline"></ion-icon>
                    -->

                </ion-item>
                <ion-ripple-effect></ion-ripple-effect>
            </div>


        </ion-card-content>


        <ion-card-content class="ion-activatable ripple-parent ">
            <div>
                <ion-badge class="badge-new-today" color="primary"><span>{{colombia.today_new_confirmed}}</span></ion-badge>
                <ion-item color="dark" (click)="goToColombia()" detail>
                    <ion-icon color="primary" slot="start" name="flag-outline"></ion-icon>
                    Colombia
                    <ion-text slot="end">
                        {{colombia.today_confirmed}}
                        <ion-spinner *ngIf="colombia.today_confirmed == null" name="dots" color="light"></ion-spinner>
                    </ion-text>

                    <!--<ion-icon *ngIf="!elementos[1]" slot="end" name="chevron-forward-outline"></ion-icon>
                <ion-icon *ngIf="elementos[1]" slot="end" name="chevron-down-outline"></ion-icon>
               -->

                </ion-item>
                <ion-ripple-effect></ion-ripple-effect>
            </div>

        </ion-card-content>



        <ion-card-content class="ion-activatable ripple-parent ">
            <div>
                <ion-badge class="badge-new-today" color="primary"><span>{{colombia.today_new_confirmed}}</span></ion-badge>
                <ion-item color="dark" detail>

                    <ion-icon color="primary" slot="start" name="location-outline"></ion-icon>
                    Mi Departamento
                    <!--
                <ion-icon *ngIf="!elementos[2]" slot="end" name="chevron-forward-outline"></ion-icon>
                <ion-icon *ngIf="elementos[2]" slot="end" name="chevron-down-outline"></ion-icon>
                -->
                </ion-item>
            </div>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-card-content>
    </div>




</ion-content>