<ion-content color="oscuro">
    <ion-toolbar color="black">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="slideAnterior()">
                <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <!--<ion-buttons slot="primary">
            <ion-button color="primary" (click)="updateChart()">
                <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
            </ion-button>
        </ion-buttons>-->
        <ion-buttons slot="primary">
            <ion-button color="primary" (click)="slideSiguiente()">
                <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-slides pager="false" [options]="sliderConfig" (ionSlideDidChange)="slidesEvent($event)" #slides>

        <ion-slide>
            <div class="welcome-card">
                Total
                <app-graficas [labels]="['Casos','Recuperados','Muertes']" [data]="data" [colores]="['#4285F4','#00C851','#ff4444']"></app-graficas>
            </div>
            <ion-card color="oscuro" class="ion-margin">

                <ion-card-content>
                    <ion-card-title>
                        General
                    </ion-card-title>
                    <ion-grid>
                        <ion-row class="ion-text-uppercase">
                            <ion-col>
                                <ion-label color="primary">
                                    Colombia
                                </ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label color="primary">
                                    Hoy
                                </ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label color="primary">
                                    Ayer
                                </ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                Casos
                            </ion-col>
                            <ion-col>
                                {{colombia.today_confirmed}}
                            </ion-col>
                            <ion-col>
                                {{colombia.yesterday_confirmed}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                Recuperados
                            </ion-col>
                            <ion-col>
                                {{colombia.today_recovered}}
                            </ion-col>
                            <ion-col>
                                {{colombia.yesterday_recovered}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                Muertes
                            </ion-col>
                            <ion-col>
                                {{colombia.today_deaths}}
                            </ion-col>
                            <ion-col>
                                {{colombia.yesterday_deaths}}
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </ion-card-content>
            </ion-card>

            <ion-card color="oscuro" class="ion-margin">

                <ion-card-content>
                    <ion-card-title>
                        {{fechaActual}}
                    </ion-card-title>
                    <ion-grid>
                        <ion-row class="ion-text-uppercase">
                            <ion-col>
                                <ion-label color="primary">
                                    Colombia
                                </ion-label>
                            </ion-col>
                            <ion-col>
                                <ion-label color="primary">
                                    Hoy
                                </ion-label>
                            </ion-col>

                        </ion-row>
                        <ion-row>
                            <ion-col>
                                Casos
                            </ion-col>

                            <ion-col>
                                {{colombia.today_new_confirmed}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                Recuperados
                            </ion-col>
                            <ion-col>
                                {{colombia.today_new_recovered}}
                            </ion-col>

                        </ion-row>
                        <ion-row>
                            <ion-col>
                                Muertes
                            </ion-col>
                            <ion-col>
                                {{colombia.today_new_deaths}}
                            </ion-col>

                        </ion-row>

                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            Meses
            <div class="welcome-card">
                <canvas #lineChart></canvas>
            </div>
        </ion-slide>

        <ion-slide>
            Atención
            <div class="welcome-card">
                <app-pie-chart [labels]="atencionL" [data]="atencionD" [colores]="['#4285F4','#00C851','#ff4444']"></app-pie-chart>
            </div>
        </ion-slide>

        <ion-slide>
            Estado
            <div class="welcome-card">
                <app-bar-chart [label]="estadoL" [data]="estadoD"></app-bar-chart>
            </div>
        </ion-slide>

    </ion-slides>
</ion-content>