<ion-content color="oscuro">
    <!--<ion-item color="oscuro" lines="none">
        <ion-icon slot="start" name="chevron-back-outline" (click)="slideAnterior()"></ion-icon>
        <ion-icon slot="end" name="stats-chart-outline"></ion-icon>
        <ion-icon slot="end" name="chevron-forward-outline" (click)="slideSiguiente()"></ion-icon>
    </ion-item>-->
    <ion-toolbar color="black">
        <ion-buttons slot="secondary">
            <ion-button color="primary" (click)="slideAnterior()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="primary" (click)="slideSiguiente()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Cov-Inf-19</ion-title>
    </ion-toolbar>

    <ion-slides pager="false" [options]="sliderConfig" (ionSlideDidChange)="slidesEvent($event)" #slides>


        <ion-slide>

            <div class="welcome-card">
                <ion-card-content>
                    <canvas #canvasBar></canvas>
                </ion-card-content>
            </div>
            <ion-list-header>
                <ion-segment #segment (ionChange)="segmentChanged($event)" value="standart">
                    <ion-segment-button value="standart">
                        <ion-label color="light">Resultados</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="today">
                        <ion-label color="light">Hoy</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-list-header>

            <div *ngIf="segmento == 'standart'">
                <ion-item color="oscuro">
                    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                    Casos

                    <ion-label slot="end">
                        <div class="ion-text-center">{{colombia.today_confirmed}} </div>
                    </ion-label>

                </ion-item>
                <ion-item color="oscuro">
                    <ion-icon slot="start" name="pulse-outline"></ion-icon>
                    Recuperados

                    <ion-label slot="end">
                        <div class="ion-text-center">{{colombia.today_recovered}}</div>
                    </ion-label>


                </ion-item>
                <ion-item color="oscuro">
                    <ion-icon slot="start" name="skull-outline"></ion-icon>
                    Muertes

                    <ion-label slot="end">
                        <div class="ion-text-center">{{colombia.today_deaths}}</div>
                    </ion-label>


                </ion-item>
            </div>
            <div *ngIf="segmento == 'today'">
                <ion-item>
                    csacscsa
                </ion-item>
            </div>


        </ion-slide>

        <ion-slide>

            <div class="welcome-card">
                <ion-card-content>
                    <app-graficas [labels]="sexoL" [data]="sexoD"></app-graficas>
                </ion-card-content>
            </div>

        </ion-slide>

    </ion-slides>

</ion-content>