<ion-content color="oscuro">
    <ion-toolbar color="black">
        <ion-buttons slot="secondary">
            <ion-button color="primary" (click)="slidePrevius()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="primary" (click)="slideNext()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Cov-Inf-19</ion-title>
    </ion-toolbar>

    <ion-slides pager="false" [options]="sliderConfig" #slide>


        <ion-slide>

            <div class="welcome-card">

                <canvas #canvas2></canvas>

            </div>

        </ion-slide>
        <ion-slide>

            <div class="welcome-card">
                <ion-card-content>
                    <!--<app-graficas [labels]="sexoL" [data]="sexoD"></app-graficas>-->
                </ion-card-content>
            </div>


        </ion-slide>
        <ion-slide>sdsad</ion-slide>

    </ion-slides>

</ion-content>