<ion-content color="oscuro">
    <ion-toolbar color="black">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="slidePrevius()">
                <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="primary" (click)="slideNext()">
                <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>

    <ion-slides pager="false" [options]="sliderConfig" #slide>

        <!---Grafica chart-bar-->
        <ion-slide>
            <div class="welcome-card">
                Casos por región
                <app-bar-chart [data]="departamentosD" [label]="departamentosL"></app-bar-chart>
            </div>
        </ion-slide>

        <!---Grafica chart-donught-->
        <ion-slide>
            <div class="welcome-card">
                Casos por sexo
                <ion-card-content>
                    <app-graficas [labels]="['M', 'F']" [data]="sexoD"></app-graficas>
                </ion-card-content>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="welcome-card">
                Casos por edad
                <ion-card-content>
                    <app-pie-chart [labels]="labelEdades" [data]="edades" [colores]="colorArray"></app-pie-chart>
                </ion-card-content>
            </div>
        </ion-slide>

    </ion-slides>

</ion-content>